/.idea/
/.gradle/

/node_modules/
/package-lock.json
/yarn.lock

/android/.idea/
/android/.gradle/
/android/app/build/
/android/app/release/
/android/local.properties

/ios/build/
/ios/Pods/
/ios/.xcode.env.local
/ios/Podfile.lock
