<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>502222873614-hn7mtth094upptrqjlsapvmusqheafmh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.502222873614-hn7mtth094upptrqjlsapvmusqheafmh</string>
	<key>API_KEY</key>
	<string>AIzaSyB37hjQZ6vAzY-eoa3z5t7OMm7pKWmck9A</string>
	<key>GCM_SENDER_ID</key>
	<string>502222873614</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.t4yc.moikamobile</string>
	<key>PROJECT_ID</key>
	<string>t4yc-eb9ac</string>
	<key>STORAGE_BUCKET</key>
	<string>t4yc-eb9ac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:502222873614:ios:c4edc3e42689cd4bf8885f</string>
</dict>
</plist>